<p-menubar [model]="navItems">
    <ng-template pTemplate="start">
        <h1>Some Application</h1>
    </ng-template>
    <ng-template let-item pTemplate="item">
        <span [routerLink]="[item.routerLink]" routerLinkActive="active">
          {{ item.label }}
          <span *ngIf="item.badge | async" class="p-badge">{{ item.badge }}</span>
        </span>
      </ng-template>
</p-menubar>
<app-messages-panel [visible]="toggleMessageBarVisibility" (onVisibilityChange)="toggleMessageBarVisibility = $event"></app-messages-panel>

