<p-menubar [model]="navItems">
    <ng-template pTemplate="start">
        <h1>Some Application</h1>
    </ng-template>
    <ng-template pTemplate="end">
      <div>
        <p-button label="" icon="pi pi-bell" iconPos="left" styleClass="p-button-secondary p-button-text p-button-sm"  (onClick)="this.toggleMessageBarVisibility = !this.toggleMessageBarVisibility" [badge]="this.notificationCount" badgeClass="p-badge-danger"></p-button>
      </div>
    </ng-template>
</p-menubar>
<app-messages-panel [visible]="toggleMessageBarVisibility" (onVisibilityChange)="toggleMessageBarVisibility = $event"></app-messages-panel>

