<div class="some-feature">
    <button pButton pRipple label="Generate Success" class="p-button-success" (click)="generateSuccessMessage()"></button>
    <button pButton pRipple label="Generate Info" class="p-button-info" (click)="generateInfoMessage()"></button>
    <button pButton pRipple label="Generate Warning" class="p-button-warning" (click)="generateWarningMessage()"></button>
    <button pButton pRipple label="Generate Error" class="p-button-danger" (click)="generateErrorMessage()"></button>
</div>
