<p-sidebar [(visible)]="visible" (visibleChange)="toggleVisibility($event)" class="wtf">
    <!-- Button Bar -->
    <div class="messages-button-bar">
        <p-button icon="pi pi-check" styleClass="p-button-sm" class="mr-2" label="Read All" type="button" (onClick)="readAllMessages()"></p-button>
        <p-button icon="pi pi-times" styleClass="p-button-sm p-button-success mr-2" label="Unread All" type="button" (onClick)="unreadAllMessages()"></p-button>
        <p-button icon="pi pi-trash" styleClass="p-button-sm p-button-danger" label="Delete All" type="button" (onClick)="deleteAllMessages()"></p-button>
        <label for="show-read" style="text-align: center; margin: 5px 5px; height: 100%; display: inline-block;">Show Read</label>
        <p-inputSwitch [(ngModel)]="showReadMessages" inputId="show-read"></p-inputSwitch>
    </div>
    <!-- Messages -->
    <p-accordion [activeIndex]="0">
        <p-accordionTab *ngFor="let message of this.getMessages(); let i = index">
            <ng-template let-item pTemplate="header">
                <div class="custom-accordion-header">
                    <div class="custom-accordion-header-text">
                        <div>{{message.getSubject()}}</div>
                        <div>{{message.getDate() | date:'YYYY-MM-dd HH:mm:ss'}}</div>
                    </div>
                    <div class="custom-accordion-header-icon">
                        <div>
                            <i class="pi pi-book text-3xl"></i>
                        </div>
                        <div>
                            <p-checkbox [ngModel]="message.getRead()" (onChange)="readMessage($event, i)" [binary]="true" inputId="binary"></p-checkbox>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="content">
                <div class="custom-accordion-content">
                    <p>{{message.getBody()}}</p>
                </div>
            </ng-template>
        </p-accordionTab>
    </p-accordion>
</p-sidebar>